%colors {
  --color-accents-black: #12091b;
  --color-accents-blue: #00aff5;
  --color-accents-gold: #edb21d;
  --color-accents-red: #ff1f1f;
  --color-accents-white: #fdfbfe;
  --color-bg-style: #ffffff;
  --color-grey-p-1000: #2b2431;
  --color-grey-p-200: #edeaf0;
  --color-grey-p-400: #979797;
  --color-grey-p-600: #635f67;
  --color-grey-p-800: #494350;
  --color-highlight-purple: #dfd2ee;
  --color-highlight-red: #e7d1d1;
  --color-input-border-bottom-active: #ffffff;
  --color-input-border-bottom-default: #ffffff;
  --color-input-border-bottom-disabled: #edeaf0;
  --color-input-border-bottom-error: #e7d1d1;
  --color-input-border-bottom-focus: #fdfbfe;
  --color-input-border-full-active: #ffffff;
  --color-input-border-full-default: #ffffff;
  --color-input-border-full-disabled: #edeaf0;
  --color-input-border-full-error: #e7d1d1;
  --color-input-border-full-focus: #ffffff;
  --color-purple-p-1000: #1f0e2f;
  --color-purple-p-200: #7e4bbd;
  --color-purple-p-400: #613796;
  --color-purple-p-600: #462169;
  --color-purple-p-800: #34174f;
  --color-test: #3f96e1;
}
